body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  background-color: yellow;
  float: left;
  margin: 1.66%;
}

#container {
  width: 30%;
  margin: 0 auto;
}

#navBar {
  text-align: center;
  background-color: white;
  color: black;
}
